$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

html, body {
  height: 100%;
}

#canvas {
  width: 99%;
  height: 99%;
}

#buttons {
  position: absolute;
  top: 0;
}

.focus {
  stroke: red;
  fill-opacity: 0;

  &.hide {
    visibility: hidden;
  }
}
