$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

html, body {
  height: 100%;
}

#canvas {
  width: 99%;
  height: 99%;
}

#buttons {
  position: absolute;
  top: 0;
}

#focus {
  border: 3px dotted red;

  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;

  &.hide {
    visibility: hidden;
  }
}
